<!DOCTYPE html>
<html>
<head>
    <title>Add New Entry</title>
</head>
<body>
    <h2>Add a New Baking Contest Entry</h2>
    <form method="POST">
        <p>Name:</p>
        <input type="text" name="baking_item_name">
        <p>Excellent Votes:</p>
        <input type="number" name="excellent_votes">
        <p>OK Votes:</p>
        <input type="number" name="ok_votes">
        <p>Bad Votes:</p>
        <input type="number" name="bad_votes"><br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/home">Back to Home</a>
</body>
</html>