<!DOCTYPE html>
<html>
<head>
    <title>List Users</title>
</head>
<body>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Phone Number</th>
            <th>Security Level</th>
            <th>Password</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/home">Back to Home</a>
</body>
</html>
