<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
     <!--Displays the links to the pages of the website-->
    <h1>{{msg}}</h1>
    <a href="/my_contest_results">Show my Contest Entry Results</a><br>
    <a href="/newUser">Add New Baking Contest User</a><br>
    <a href="/newEntry">Add New Baking Contest Entry</a><br>
    <a href="/userList">List Baking Contest Users</a><br>
    <a href="/contest_results">Baking Contest Entry Results</a><br>
    <a href="/">Log out</a>
</body>
</html>
