<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Login</h1>
    {% if error %}
        <p style="color: red;">{{error}}</p>
    {% endif %}
        <Form method="POST">
            <label>Username</label>
            <br>
            <input type="text" name="username">
            <br>
            <label>Password</label>
            <br>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Log in">
        </Form>
</body>
</html>