<!DOCTYPE html>
<html>
<head>
    <title>Add New User</title>
</head>
<body>
    <h2>Add a New Baking Contest User</h2>
    <form method="POST">
        <p>Name:</p>
        <input type="text" name="name">
        <p>Age:</p>
        <input type="number" name="age">
        <p>Phone Number:</p>
        <input type="text" name="phone_number">
        <p>Security Level:</p>
        <input type="number" name="security_level">
        <p>Password:</p>
        <input type="password" name="password"><br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/home">Back to Home</a>
</body>
</html>
